
body{
    display: flex;
    background: #000000;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator{
    position: relative;
    align-content: center;
    padding: 40px 20px;
    display: grid;
    border: 5px solid #616185;
    border-radius: 15px;
    background: #ada190;
}
.calculator .value{
    padding: 20px;
    margin: 0 0 5px;
    height: 50px;
    background: #9c9cc0;
    grid-column: span 4 ; 
    text-align: right;
    border: solid;
    outline: rgb(62, 124, 65);
    font-size: 20px;
    cursor: all-scroll;
}
.calculator span{
    display: grid;
    width: 75px;
    height: 75px;
    background: #2b2738;
    color: rgb(255, 255, 255);
    border: none;
    place-items: center;
    cursor: pointer;
}
.calculator span.num{
    background: #363531;
}
.calculator span.clear{
    grid-column: span 2;
    width: 150px;
    background: #706963;
}
.calculator span.plus{
    grid-row: span 2;
    height: 150px;
}
.calculator span.equal{
    background: #191b1b;
}
.calculator span:active{
    background: #ad5624;
    color: rgb(53, 235, 111);
}